[submodule "hiredis"]
	path = hiredis
	url = https://github.com/redis/hiredis.git
[submodule "threadpool"]
	path = threadpool
	url = https://github.com/Pithikos/C-Thread-Pool.git
[submodule "RedisModulesSDK"]
	path = RedisModulesSDK
	url = https://github.com/RedisLabsModules/RedisModulesSDK.git
